{% extends 'base_auth.html' %}

{% block content %}

<div class="row justify-content-center mt-5">

    <div class="col-lg-4">

        <div class="card shadow-sm border-0">

            <div class="card-header bg-white">
                <h4 class="mb-0 text-center">
                    Connexion superviseur
                </h4>
            </div>

            <div class="card-body">

                <form method="post">

                    {% csrf_token %}

                    <div class="mb-3">
                        {{ form.phone_number.label_tag }}
                        {{ form.phone_number }}
                    </div>

                    <div class="mb-3">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>

                    <button
                        type="submit"
                        class="btn btn-dark w-100"
                    >
                        Se connecter
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}